# Compiled class file	.DS_STORE
*.class	

*.log


# BlueJ files	# CircleCI temporary file for cache key computation.
*.ctxt	


# Mobile Tools for Java (J2ME)	# Include when developing application packages.
.mtj.tmp/