<div class="container mt-5">
    <div class="d-flex justify-content-between align-content-center mb-5">
        <a href="#" routerLink="/admin/coaches" class="btn btn-primary">Back</a>
        <h1>Edit Coach</h1>
    </div>
    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <fieldset disabled>
                        <label for="username">Username:</label>
                        <input formControlName="username" id="username" type="text" class="form-control">
                    </fieldset>
                </div>

                
                <div class="form-group">
                    <div class="form-group">
                        <label for="title">Full Name:</label>
                        <input formControlName="name" id="name" type="text" class="form-control">
                        <div *ngIf="f['name'].invalid" class="alert alert-danger">
                            <div *ngIf="f['name'].errors && f['name'].errors['required']">Full name is required.</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="title">Email:</label>
                        <input formControlName="email" id="email" type="text" class="form-control">
                        <div *ngIf="f['email'].invalid" class="alert alert-danger">
                            <div *ngIf="f['email'].errors && f['email'].errors['required']">Email is required.</div>
                            <div
                                *ngIf="f['email'].errors && f['email'].value != '' && f['email'].errors['invalidAddress']">
                                Must enter a valid email address.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Program Name</th>
                            <th>Nº Sessions</th>
                            <th>Nº Athletes</th>
                            <th>Actions</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let program of coachDetails.programs">
                            <td>
                                <ng-container *ngIf="program.image; else noProfilePic">
                                    <img src="{{program.image}}" alt="Coach profile picture">
                                </ng-container>
                                <ng-template #noProfilePic>
                                    <img src="{{defaultProgramPicUrl}}" alt="Default profile picture">
                                </ng-template>
                            </td>
                            <td>{{program.program_name}}</td>
                            <td>{{program.numberOfSessions}}</td>
                            <td>{{program.numberOfAthletes}}</td>
                            <td>
                                <a [routerLink]="['/admin/programs/edit/', program.program_name]"
                                    class="btn btn-primary mr-5">Edit</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Update</button>
    </form>
</div>