<div class="container mt-5">
    <div class="d-flex justify-content-between align-content-center mb-5 title-wrapper">
        <a href="#" routerLink="/admin/coaches" class="btn btn-primary">Back</a>
        <h1>Edit Athlete</h1>
    </div>
    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="row">
                <div class="form-group">
                    <fieldset disabled>
                        <label for="username">Username:</label>
                        <input formControlName="username" id="username" type="text" class="form-control">
                    </fieldset>
                </div>

                
                <div class="form-group">
                    <div class="form-group">
                        <label for="title">Full Name:</label>
                        <input formControlName="name" id="name" type="text" class="form-control">
                        <div *ngIf="f['name'].dirty && f['name'].invalid" class="alert alert-danger">
                            <div *ngIf="f['name'].errors && f['name'].errors['required']">Full name is required.</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="title">Email:</label>
                        <input formControlName="email" id="email" type="text" class="form-control">
                        <div *ngIf="f['email'].dirty && f['email'].invalid" class="alert alert-danger">
                            <div *ngIf="f['email'].errors && f['email'].errors['required']">Email is required.</div>
                            <div
                                *ngIf="f['email'].errors && f['email'].value != '' && f['email'].errors['invalidAddress']">
                                Must enter a valid email address.</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="profilePic">Profile Picture:</label>
                        <input formControlName="profilePic" id="profilePic" type="file" class="form-control" (change)="onFileSelected($event)">
                    </div>
                </div>
        </div>
        
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid"><span class="material-symbols-outlined">update</span>Update</button>
    </form>
</div>