<app-navbar></app-navbar>
<div class="container">
    <h1>Coaches</h1>
    
    <a href="/admin/coaches/create" class="btn btn-success">Create New Coach</a>
      
    <table class="table table-striped">
        <thead>
              <tr>
                <th></th>
                <th>Username</th>
                <th>Name</th>
                <th>Email</th>
              </tr>
        </thead>
        <tbody>
              <tr *ngFor="let coach of coachList">
                <td><img src="{{coach.profilePicUrl}}" alt="Coach profile picture"></td>
                <td>{{ coach.username }}</td>
                <td>{{ coach.name }}</td>
                <td>{{ coach.email }}</td>
                <td>
                  <a href="#" [routerLink]="['/admin/coaches/edit']" class="btn btn-primary mr-5">Edit</a>
                  <button type="button" (click)="deletePost(coach.username)" class="btn btn-danger">Delete</button>
                </td>
              </tr>
        </tbody>
    </table>
 </div>